

<!-- Contact page -->

<section id="content" class="container">


  <div class="container">
    <h2 class="text-left"><span style="color:#e65154;">My</span> Dashboard</h2>
    <p>This is your home page to access all your textbook resources, online notes, and more.</p>

  </div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:30px 5px 0px; border-style:solid;
border-width:3px; border-radius:7px;">
                <a class="pull-left">
                    <img class="media-object" src="assets/icons/laptop.png">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">My Notes</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </li>
            
            <li class="media" style="padding:30px 5px 0px; border-style:solid;
border-width:3px; border-radius:7px;">
                <a class="pull-left">
                    <img class="media-object" src="assets/icons/stopwatch.png">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">My Courses</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px; border-style:solid;
border-width:3px; border-radius:7px;">
                <a class="pull-left">
                    <img class="media-object" src="assets/icons/globe.png">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start New Course</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </li>
        </ul>
 </div>

    
</section>