


<div class="row" style="margin-bottom:200px;">
  <div class="row" style="margin-bottom:50px;">
    <h1>Hello Zain,</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
        <button style="display: block; width: 80%; height:180px; background-color:#E60000; border-radius:7px;">button</button>
    </div>
    <div class="col-md-4">
      <button style="display: block; width: 80%; height:180px; background-color:#E60000; border-radius:7px;">button</button>
    </div>
    <div class="col-md-4">
      <button style="display: block; width: 80%; height:180px; background-color:#E60000; border-radius:7px;">button</button>
    </div>
  </div>


    

</div>
    
</div>