

<!-- User Dashboard -->

<section id="content" class="dashboard-container">


  <div class="container">
    <h2 class="text-left"><span style="color:#e65154;">My</span> Dashboard</h2>
    <p>Current Classes</p>
  </div>

  <!-- Column 1 -->
    <div class="col-md-3 dashboard-info" style="margin: 30px 40px 40px 60px;">
        <div class="col-md-8">
            <h3> Microbiology</h3>
        </div>
            
        <div class="col-md-4">
            <input type="text" value="43" class="dial" data-width="130%" data-displayInput=false>
                <script>
                    $('.dial')
                    .trigger(
                    'configure',
                    {
                    "min":10,
                    "max":40,
                    "fgColor":"#FFFFF",
                    "skin":"tron",
                    "cursor":true
                    }
                    );
                </script>
        </div>

        <div class="col-md-12">
            <p>Lorem ipsum dolor: ##<br>sit amet, consectetur: ##<br> adipisicing elit, sed: ##</p>
        </div>
        <div class="col-md-8">
            <h3> Pharmacology</h3>
        </div>
            
        <div class="col-md-4">
            <input type="text" value="43" class="dial" data-width="130%" data-displayInput=false>
                <script>
                    $('.dial')
                    .trigger(
                    'configure',
                    {
                    "min":10,
                    "max":40,
                    "fgColor":"#FFFFF",
                    "skin":"tron",
                    "cursor":true
                    }
                    );
                </script>
        </div>

        <div class="col-md-12">
            <p>Lorem ipsum dolor: ##<br>sit amet, consectetur: ##<br> adipisicing elit, sed: ##</p>
        </div>
<div class="col-md-8">
            <h3> Microbiology</h3>
        </div>
            
        <div class="col-md-4">
            <input type="text" value="43" class="dial" data-width="130%" data-displayInput=false>
                <script>
                    $('.dial')
                    .trigger(
                    'configure',
                    {
                    "min":10,
                    "max":40,
                    "fgColor":"#FFFFF",
                    "skin":"tron",
                    "cursor":true
                    }
                    );

                                        $(function() {
                    $(".dial").knob();
                    });
                </script>
        </div>

        <div class="col-md-12">
            <p>Lorem ipsum dolor: ##<br>sit amet, consectetur: ##<br> adipisicing elit, sed: ##</p>
        </div>

</div> <!-- End Column 1 -->


    <div class="col-md-3 dashboard-info">
        <div class="col-md-12">
            <h3>Start New Course</h3>
            <p style="text-align:center;">
            <span class="glyphicon glyphicon-asterisk"></span>
            <br>Lorem ipsum dolor: sit amet, consectetur: adipisicing elit, sed:
        </p>
        </div>

    </div>

    <div class="col-md-3 dashboard-info">


    </div>




   

    
</section>