
<section id="workspace" class="workspace-container">


  <div class="container">
    <h2 class="text-left"><span style="color:#e65154;">My</span> Workspace</h2>



	<!-- TextBook -->
	<div class="workspace-info col-md-6" style="height:700px">


	</div>
	
	<div class = "col-md-6">

		<!-- Wikipedia -->
		<div class="workspace-info row" style="height:200px; margin: 10px 20px 10px 10px;">

		</div>

		<!-- Notes -->
		<div class="workspace-info row" style="height:480px; margin: 20px 20px 10px 10px;">

		</div>

  </div>

</div>


</section>