    




<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {}) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  <div class="row position-center">

    <!--CANCEL ACCOUNT Form Group-->
    <div class="prf-contacts sttng">
                  <h2>
                    Cancel My Account
                  </h2>
                </div>
                <div class="form-horizontal">

                  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class:"btn btn-md" %>
                  <% end %>


    </div>
    <!--END CANCEL ACCOUNT Form Group-->

      </div><!--End Row Centering-->
    