<section class="wrapper">

<div class="row">
    <div class="col-md-12" style="text-align:center">
      <section class="panel">
      	<div class="panel-body">
			     <h1><strong>Contact</strong> Us</h1>
                          
            <center>
              <p>Contact us at <span style="color:#AA0000;">info@medectomy.com </span>if you have questions regarding the current beta launch</p>
              <p>and our future initiatives, requests to join or partner with our nationwide network of authors, medical professionals</p>
              <p></p>
              <p>and students, or any other general inquiries.</p>
            </center>
      	</div>
      </section>
  </div>
</div>


</section>





<div id="footer" style="text-align:center">
    <div class="container">
    	<p class="muted credit">&copy; Medectomy 2014</p>
    </div>
</div>
