<section class="wrapper">

<div class="row">
    <div class="col-md-12" style="text-align:center">
      <section class="panel">
      	<div class="panel-body">
			<h1><strong>Contact</strong> Us</h1>
      <p style="font-size:6px">
          <ul>
            <li>Questions regarding the current Beta Launch and Medectomy's future products</li>
            <li>Requests to join our nation-wide network of authors, medical proffessionals and students</li>
            <li>And any general inquiries</li>
          </ul>
          Can be directed to <span style="color:#45c9c4;">info@medectomy.com</span>
        </p>

      	</div>
      </section>
  </div>
</div>


</section>





<div id="footer" style="text-align:center">
    <div class="container">
    	<p class="muted credit">&copy; Medectomy 2014</p>
    </div>
</div>
