<section class="wrapper">

<div class="row">
    <div class="col-md-12" style="text-align:center">
      <section class="panel">
      	<div class="panel-body">
			<h1><strong>Finally</strong>, Your Medical School Studying Solution</h1>
      		<p>Medectomy is the ultimate medical school academic resource, study guide, and student-teacher community. A one-time subscription gives you access to our custom online resource, a personalized dashboard of saved notes and book highlights, and a growing community of students and doctors from top medical schools accross the U.S.</p>



<div class="bs-example" style="margin: 20px;">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel" style="margin-top: 20px; height:322px; margin-left:340px; margin-right:340px;">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item" style="background: url(/assets/one.jpg); text-align:center; height: 322px !important;">
                
                
            </div>
            <div class="item" style="background: "<%=image_path("two.jpg") %>";"" text-align:center; height: 322px !important;">
            </div>
            <div class="item" style="background: url(/assets/three.jpg); text-align:center; height: 322px !important;">
               
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
      	</div>
      </section>
  </div>
</div>
<div class="row" style="text-align:center">
    <div class="col-md-4">
      <section class="panel" style="height:240px">
      	<div class="panel-body">
      		<i class="fa fa-book fa-5x"></i>
      		<h2 style="text-align:center">Extensive Textbook</h2>
      		<p>Produced by a team of students and faculty from top medical schools in the U.S., Medectomy's in-house interactive study resource covers everything a student needs to know from introdutroy classes through all parts of the USMLE.</p>
      	</div>
      </section>
  </div>
  <div class="col-md-4">
      <section class="panel" style="height:240px">
      	<div class="panel-body">
      		<i class="fa fa-play fa-5x"></i>
      		<h2>Comprehensive Videos</h2>
      		<p>Every Section is supplemented by educational videos with lectures, examples, and concept review.</p>
      	</div>
      </section>
  </div>
  <div class="col-md-4">
      <section class="panel" style="height:240px">
      	<div class="panel-body">
      		<i class="fa fa-stethoscope fa-5x"></i>
      		<h2>Medical Community</h2>
      		<p>Medectomy's interactive style allows you to connect with other medical students and professors across the country, all covering the same material you are.</p>
      	</div>
      </section>
  </div>
</div>


<div class="row" style="text-align:center">
  <div class="col-md-4">
    <a href="mailto:info@medectomy.com?subject=Invitation Request">


      <section class="panel" style="height:140px">
        <div class="row">
          <div class="col-md-2">
            <div class="panel-body">
              <i class="fa fa-envelope fa-3x"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="panel-body">
              <h3 style="text-align:center; margin-top:0px;">Request an Invitation</h3>
              <p>Select schools are joining our Beta. Individual participation will soon be added.</p>
            </div>
          </div>
      </div>
    </section>
  </a>
  </div>

    <div class="col-md-4">
      <a href="mailto:info@medectomy.com?subject=Community Member Request">
      <section class="panel" style="height:140px">
        <div class="row">
          <div class="col-md-2">
            <div class="panel-body">
              <i class="fa fa-plus-square fa-3x"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="panel-body">
              <h3 style="text-align:center; margin-top:0px;">Join the Community</h3>
              <p>Contributors, authors, graphic designers, medical school students, and medical proffesionals are all invited to join Medectomy's content creation team.</p>
            </div>
          </div>
      </div>
    </section>
  </a>
  </div>


  <div class="col-md-4">
    <a href="mailto:info@medectomy.com?subject=Inquiry">
      <section class="panel" style="height:140px">
        <div class="row">
          <div class="col-md-2">
            <div class="panel-body">
              <i class="fa fa-hospital-o fa-3x"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="panel-body">
              <h3 style="text-align:center; margin-top:0px;">Contact Us</h3>
              <p>Any general inquiries about the Medectomy project.</p>
            </div>
          </div>
      </div>
    </section>
  </a>
  </div>

</section>





<div id="footer" style="text-align:center">
    <div class="container">
    	<p class="muted credit">&copy; Medectomy 2014</p>
    </div>
</div>
