.field_with_errors {
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #b50505; }

.corner-ribon a {
  float: none !important;
  margin-right: 0 !important;
  margin-left: 0 !important; }
.corner-ribon button {
  background: transparent;
  border: none; }
