

<!--
  Testing CSS properties in this file.
  TODO: move univesal container properties to CSS files as global style properties-->

<div class="col-md-12 course-container" style="background-color:#FFFFFF; margin-bottom:20px;">
        <div class="pull-left course-list col-md-6" style="background-color:#FFFFFF;">
                <ul class="media-list">
                        <% 10.times do |index| %>
                        <li class="media course-listing <%= "last-course-listing" if index == 9 %>">
                            <div class="pull-left">
                                     <img class="media-object" src="http://placehold.it/120x90" alt="">
                            </div>
                            <div class="media-body">
                              <!-- TODO: Get course name -->
                              <%= link_to '#INDIVIDUAL CHAPTER NAME', dashboard_path %>
                              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
                            </div>
                        <% end %>
                  </li>
                </ul>
        </div>
        <div class="pull-rigt col-md-6 course-content">
                <h2 style="text-align:center;">#Course Name</h2>
        </div>
</div>