<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<h3 class="brand" href="index.html#subscribe-form">
						Medectomy<span style="font-size:50%">™</span>
					</h3>
                    <p>Copyright &#169 2013 Medectomy. All rights Reserved.</p>
				</div>
				<div class="span4 offset4 social-networks" style="text-align:right">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter"></a>
						<a class="social-network facebook"></a>
						<a class="social-network linkedin"></a>
					</p>
				</div>
				
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->
