<header id="header">

		<!-- Navigation
        ================================================== -->
		<nav class="navbar" role="navigation">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html#subscribe-form">
						<h2>Medectomy<span style="color:#e65154; font-size: 50%; vertical-align: top;">B e t a</span></h2>
					</a>
					<ul class="nav">
						<li><a href="<%= root_path %>" title="Home">Home</a></li>
						<li><a href="product.html" title="Our work">What We Do</a></li>
                        <li><a href="contact.html" title="Contact us">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>
    </header>