<header id="header">

		<!-- Navigation
        ================================================== -->
		<nav class="navbar" role="navigation">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						<img alt=""  src="public/assets/homepage/logo-7ebabbea147d54584017d5d68724166b.jpg">
                        <img alt=""  src="public/assets/homepage/logo-214e2dfc7dc3249c0c1ec5103d2299de.jpg">
					</a>
					<ul class="nav">
						<li class="active"><a href="index.html" title="Home">Home</a></li>
						<li><a href="product.html" title="Our work">What We Do</a></li>
                        <li><a href="contact.html" title="Contact us">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>
    </header>