<section id="contact" class="container">

<div class="container">
		<h2 class="text-center"><span style="color:#e65154">Medectomy</span> is...</h2> 
		<p class="text-center">Medectomy is built by a team of medical professionals, computer scientists, entrepenuers, doctors, and students with the goal to provide all medical students with an intuitive and comprehensive all-in-one study solution. We want to help individual students excel through all years of medical school and Licensing exams as well as foster a community of medical students and professionals across the country. Medical school is hard enough and we are here to make it all just a bit easier! </p>

	</div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:30px 5px 20px">
                <a class="pull-left">
                    <%= image_tag "icons/suitcase.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Become a BetaLaunch Medectomy User</h4>
                    <p>Select medical school students will soon be contacted for participation in Medectomy's Beta Launch. This will include full use of our studying resources as well as full acces to our online community. Medectomy Beta Users will be the first to recieve updates about future launches and discounts to future Medectomy resources.</p>
                    <p><a class="red" href="index.html#subscribe-form" style="color:#e65154">Request an Invitation &raquo;</a></p>
                </div>
                    
            </li>
            </ul>
        </div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:0px 5px 20px">
                <a class="pull-left">
                    <%= image_tag "icons/upload.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Help Shape the Medectomy Community</h4>
                    <p>Medectomy is looking for contributors. Authors, graphic designers, med school students, and medical proffesionals are all invited to work within the medectomy community writing and updating content. And as our community grows, so will your acess to resources.</p>
                    <p class="red" href="#" style="color:#e65154">info@medectomy.com</p>
                </div>
                    
            </li>
            </ul>
        </div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:0px 5px 40px">
                <a class="pull-left">
                    <%= image_tag "icons/help.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Contact Us</h4>
                    <p>Any general inquiries about the Medectomy project.</p>
                    <p class="red" href="#" style="color:#e65154">info@medectomy.com</p>
                </div>
                    
            </li>
            </ul>
        </div>
    </section>
