<section id="contact" class="container">

<div class="container">
		<h2 class="text-center"><span class="grey">Medectomy</span> is...</h2> 
		<p class="text-center">Medectomy is a team of medical students, computer scientists, and entrepenuers based out of the Cleveland Clinic. Our goal is to provide all medical school students with an intuitive and comprehensive all-in-one study source. We want to help individual students from first year classes through passsing all steps of the USMLE exam as well as foster a community of medical students and professionals across the country. Medical school is hard enough and we are here to make it all just a bit easier. </p>

	</div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:40px 5px 40px">
                <a class="pull-left">
                    <%= image_tag "icons/help.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Available Soon!</h4>
                    <p>Medectomy's Beta testing starts soon! Select medical school students will be invited to participate in our beta tests. Soon after, Medectomy as both a free and subscription-based service will be available to all medical students.</p>
                    <p><a class="red" href="index.html#subscribe-form" style="color:red">Sign Up for Updates Here &raquo;</a></p>
                </div
                    
            </li>
            </ul>
        </div>
    </section>
