<section id="content" class="container">


	<div class="container">
		<h2 class="text-center"><span style="color:#e65154">Finally,</span> Your Medical School Studying Solution</h2> 
		<p>Medectomy is the ultimate medical school academic resource, study guide, and student-teacher community. A one-time subscription gives you access to our custom online resource, a personalized dashboard of saved notes and book highlights, and a growing community of students and doctors from top medical schools accross the U.S.</p>

	</div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/laptop.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading" id="1">Comprehensive Review</h4>
                    <p>Produced by a team of students and faculty from top medical schools in the U.S., Medectomy's in-house interactive study resource covers everything a student needs to know from intro classes through all Steps of the USML Exams.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/suitcase.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading" id="2">Personalized Dashboard</h4>
                    <p>Different from every other reviews, Medectomy offers its users notes and highlights organized per chapter. Every section and every chapter is accompanied by interactive resources and study guides to help a student succeed through medical school.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/stopwatch.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading" id="3">Review Supplements</h4>
                    <p>Supplementing the review and study guides are section study guides to gauge student success and improve test scores.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/globe.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading" id="4">Medical Community</h4>
                    <p>Medectomy's interactive style allows you to connect with other medical students and professors accross the country, all covering the same material you are.</p>
                </div>
            </li>
        </ul>
 </div>

    
</section>