<section id="content" class="container">


	<div class="container">
		<h2 class="text-center"><span class="grey">Finally,</span> Your Medical School Studying Solution</h2> 
		<p>Medectomy is the ultimate medical school academic resource, study guide, and student-teacher community. A one-time subscription gives you access to our custom online textbook, a personalized dashboard of saved notes and book highlights, and a growing community of students and doctors from top medical schools accross the U.S.</p>

	</div>
    
    <div class="container">
        <ul class="media-list">
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/laptop.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Comprehensive Textbook</h4>
                    <p>Dreamed up, organized, written, and produced by medical students and doctors out of Cleveland Clinic; medectomy's in-house interactive textbook covers everything a student needs to know from intro classes through all steps of the USMLE exams.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/suitcase.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Personalized Dashboard</h4>
                    <p>Different from every other study source, medectomy offers its users notes and highlights organized per chapter. Every section and every chapter is accompanied by interactive resources and study guides to help a student succeed through medical school.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/stopwatch.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Practice Testing</h4>
                    <p>Supplementing the textbook and study guides are section study guides to gage student success and improve test scores.</p>
                </div>
            </li>
            <li class="media" style="padding:30px 5px 0px">
                <a class="pull-left">
                    <%= image_tag "icons/globe.png", class:"media-object" %>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Medical Community</h4>
                    <p>Medectomy's interactive style allows you to connect with other medical students and professors your school to accross the country, all covering the same material you are.</p>
                </div>
            </li>
        </ul>
 </div>

    
</section>