<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2010—2012 by <a>Medectomy</a>
				</div>
				<div class="span4">
					<a href="#" title="Send us email">hello@plain.com</a>, 
					+555 555 555 5555
				</div>
				<div class="span4">
					<a href="http://themeforest.net/item/plain/2616790?ref=virae" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy"                               rel="external" href="http://virae.org">VIRAE</a>
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->