<!-- Footer -->


<footer id="footer" style=" color:#FFFFFF; bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <h3 class="brand" href="index.html#subscribe-form">Medectomy
                    <span style="font-size: 50%; vertical-align: top;">™</span>
                </h3>
                <p>Copyright © 2013 Medectomy. All rights reserved.</p>
            </div>
            <div class="social-networks col-lg-offset-4 col-sm-4 col-md-4" style="text-align:right">
                <h4>Find us elsewhere</h4>
                <p>
                    <a class="social-network twitter"></a>
                    <a class="social-network facebook"></a>
                    <a class="social-network linkedin"></a>
                </p>
            </div>
        </div>
        <!-- end .row -->
    </div>
    <!-- end .container -->

</footer>


<!-- background-color: #1A1A1A;-->

