<nav class="navbar navbar-default" role="navigation" style="background-color:#FFFFFF;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Medectomy<span style="color:#e65154; font-size: 50%; vertical-align: top;">Beta</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Dashboard', root_path %></li>
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'My Notes', dashboard_path(@Courses) %></li>
        <li><%= link_to 'Contact Us', dashboard_contact %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
