<header id="header">

    <!-- Navigation
        ================================================== -->
    <nav class="navbar" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <!-- Logo -->
          <a class="brand" href="index.html#subscribe-form">
            <h2>Medectomy<span style="color:#e65154; font-size: 50%; vertical-align: top;">B e t a</span></h2>
          </a>
          <ul class="nav">
            <li><a href="#" title="Courses">Courses</a></li>
            <li><a href="#" title="Notes">My Notes</a></li>
            <li><a href="#" title="About">About</a></li>
            <li><a href="#" title="Contact">Contact Us</a></li>
            <li><a href="#User_Dashboard" title="dashboard"><%=@subscriber.first_name, @subscriber.last_name=%>
          </ul>
        </div><!-- end .container -->
      </div><!-- end .navbar-inner -->
    </nav>
    </header>